---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import type { retrieveCatalogTypes } from "../squareTypes";
// @ts-ignore - Im upset there isnt any types for this
import { Client, Environment } from "square";
import type { SearchCatalogTypes } from "../squareTypes";

const date = new Date();

if (import.meta.env.SQUARE_ACCESS_TOKEN === undefined) {
  console.log("No Square Access Token");
  return new Response("No Square Access Token", { status: 500 });
}
const client = await new Client({
  accessToken: import.meta.env.SQUARE_ACCESS_TOKEN,
  environment: Environment.Production,
});
const getItem = async () => {
  try {
    const response = await client.catalogApi.retrieveCatalogObject(
      Astro.url.searchParams.get("id")
    );
    return response.result;
  } catch (error: any) {
    console.log(error);
    return new Response(error, { status: 500 });
  }
};

const response: retrieveCatalogTypes = await getItem();
if (!response) return Astro.redirect("/shop");
if (response.object?.itemData?.imageIds === undefined)
  return Astro.redirect("/shop");

const params = Astro.url.searchParams;

const clearLinks = async () => {
  try {
    const allLinks = await client.checkoutApi.listPaymentLinks();
    if (!allLinks.result.paymentLinks) return console.log("No Links");
    allLinks.result.paymentLinks.forEach(async (link: { id: string }) => {
      await client.checkoutApi.deletePaymentLink(link.id);
    });
  } catch (error) {
    console.log(error);
  }
};

const generateLink = async (id: string) => {
  try {
    const response = await client.checkoutApi.createPaymentLink({
      order: {
        locationId: "LT6VCG48B673C",
        lineItems: [
          {
            quantity: Astro.url.searchParams.get("quantity"),
            catalogObjectId: id,
          },
        ],
      },
    });
    return response.result.paymentLink.url;
    console.log(response.result);
  } catch (error) {
    console.log(error);
  }
};
const link: string = await generateLink(
  response.object.itemData.variations[0].id
);
---

<Layout title="R&L Packaging">
  <header class="sticky top-0 z-50">
    <Navbar />
  </header>
  <main class="min-h-screen">
    Cart: {response.object.itemData.name} x {params.get("quantity")}

    <a href={link}>Buy Now!</a>
  </main>

  <footer
    class="footer footer-center p-10 bg-base-200 text-base-content rounded"
  >
    <div class="grid grid-flow-col gap-4">
      <a class="link link-hover home-scroll">Home</a>
      <a class="link link-hover about-scroll">About</a>
      <a class="link link-hover history-scroll">History</a>
      <a class="link link-hover contact-scroll">Contact</a>
    </div>
    <div>
      <p>
        Copyright © {date.getFullYear()} - All right reserved by R&L Packaging
      </p>
      <p class="text-xs">
        Website designed by <a href="https://jedborseth.com">Jed Borseth</a>
      </p>
    </div>
  </footer>
</Layout>
