---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Hero from "../components/Hero.astro";
---

<Layout title="R&L Packaging">
  <header class="sticky top-0">
    <Navbar client:load />
  </header>

  <main>
    <Hero />
    <section class="">
      <h2 class="text-4xl flex justify-center">Our Services</h2>
      <h3 class="text-center">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis aut
        voluptate ipsum quos molestiae, hic itaque, eaque dolorem vel facere
        odio illo nulla, delectus nobis ullam quia atque assumenda saepe.
      </h3>
    </section>
  </main>
</Layout>
