---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import History from "../components/History";
import Contact from "../components/Contact.astro";

const service1 = {
  title: "Item 1",
  description:
    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
};
const service2 = {
  title: "Item 2",
  description:
    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
};
const service3 = {
  title: "Item 3",
  description:
    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
};
---

<Layout title="R&L Packaging">
  <header class="sticky top-0 z-50">
    <Navbar client:load />
  </header>

  <main class="">
    <Hero
      title="R&L Packaging"
      subtitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quo hic officia. Cupiditate, autem et! Ducimus expedita natus debitis nam?"
    />
  
    <Services
      title="Our Services"
      subtitle="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis aut voluptate ipsum quos molestiae, hic itaque, eaque dolorem vel facere odioillo nulla, delectus nobis ullam quia atque assumenda saepe."
      item1={service1}
      item2={service2}
      item3={service3}
    />
    <History
      title="Our History"
      subtitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quasi quisquam quod iusto qui quos voluptatem omnis, exercitationem veniam nostrum?"
      client:visible
    />
    <Contact />
  </main>
</Layout>
