---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Hero from "../components/Hero.astro";
---

<Layout title="R&L Packaging">
  <header class="sticky top-0">
    <Navbar client:load />
  </header>

  <main>
    <Hero />
    <section class=""></section>
  </main>
</Layout>
