---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import History from "../components/History";
import Contact from "../components/Contact.astro";

const date = new Date();

const service1 = {
  title: "Assembling and Manual Labour Services",
  description:
  "Wine partitions, box separators and intricate die cut items can be difficult to handle when it comes to small volume. Our team of assemblers and general labours can handle orders of any size. From 1 box to a 1 truck load.",
};
const service2 = {
  title: "Custom Die Cutting",
  description:
  "From regular flat bed to mini rotary and large rotary die cutting. We have the capability of handling almost all types of material and sizes.",
};
const service3 = {
  title: "Small to medium Volume boxes",
  description:
  "Is your Stock box not quite right? All sorts of shapes and sizes with no minimum requirement and 4 Color printing capability.",
};
---

<Layout title="R&L Packaging">
  <header class="sticky top-0 z-50">
    <Navbar />
  </header>

  <main class="">
    <Hero
      title="R&L Packaging"
      subtitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quo hic officia. Cupiditate, autem et! Ducimus expedita natus debitis nam?"
    />
  
    <Services
      title="Our Unique Abilities"
      subtitle="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis aut voluptate ipsum quos molestiae, hic itaque, eaque dolorem vel facere odioillo nulla, delectus nobis ullam quia atque assumenda saepe."
      item1={service1}
      item2={service2}
      item3={service3}
    />
    <History
      title="Our History"
      subtitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quasi quisquam quod iusto qui quos voluptatem omnis, exercitationem veniam nostrum?"
      client:visible
    />
    <Contact />
  </main>
  <footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
    <div class="grid grid-flow-col gap-4">
      <a class="link link-hover home-scroll">Home</a> 
      <a class="link link-hover about-scroll">About</a> 
      <a class="link link-hover history-scroll">History</a> 
      <a class="link link-hover contact-scroll">Contact</a>
    </div> 
    <div>
      <p>Copyright © {date.getFullYear()} - All right reserved by R&L Packaging</p>
      <p class="text-xs">Website designed by <a href="https://jedborseth.com">Jed Borseth</a></p>
    </div>
  </footer>
</Layout>
