---
import Form from "./Form";
---

<section class="min-h-screen grid grid-cols-2 pt-5" id="contact">
  <div class="col-span-2 self-end pb-5 text-center">
    <h2 class="text-4xl">Contact Us!</h2>
    <h3>
      Want to get in touch? Feel free to contact us using any of the methods
      below.
    </h3>
  </div>
  <Form client:visible />
  <div
    class="row-start-2 flex flex-col justify-center text-center col-span-2 sm:col-auto text-xl"
    id="contact-info"
  >
    <h2 class="p-4">
      Email us at <span class="text-primary">orders@rlpackaging.ca</span>
    </h2>
    <h2 class="p-4">
      Call us at <span class="text-primary">604-758-6040</span>
    </h2>
    <h2 class="p-4">
      Visit us at <span class="text-primary"
        >30945 Wheel Avenue, Abbotsford, B.C.</span
      >
    </h2>
    <h2 class="p-4">Or fill out our online form!</h2>

    <script>
      document.querySelectorAll("#contact-info span").forEach((item) => {
        item.addEventListener("click", () => {
          navigator.clipboard
            .writeText((item as HTMLElement).innerText)
            .then(() => alert("Copied to clipboard!"));
          alert("Copied to clipboard!");
        });
      });
    </script>
  </div>
</section>
