---
---

<section
  class="grid sm:grid-cols-2 h-screen items-center p-5 grid-cols-1"
  id="#home"
>
  <div>
    <h1 class="text-4xl">R&L Packaging</h1>
    <h2 class="md:pr-20">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quo hic
      officia. Cupiditate, autem et! Ducimus expedita natus debitis nam?
    </h2>
  </div>
  <div>
    <img src="./logo.svg" alt="replace this!!" width="300" />
  </div>
  <div class="sm:col-span-2 justify-self-center">
    <img src="./arrow-down-circle-fill.svg" alt="down" class="w-5 h-5" />
  </div>
</section>
