---
---

<section class="grid grid-cols-2 h-screen items-center p-5" id="#top">
  <div>
    <h1 class="text-4xl">R&L Packaging</h1>
    <h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quo hic
      officia. Cupiditate, autem et! Ducimus expedita natus debitis nam?
    </h2>
  </div>
  <div>
    <img src="./logo.svg" alt="replace this!!" width="300" />
  </div>
</section>
