---

---

<div class="drawer drawer-end text-2xl">
  <input id="mobile-nav" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <div class="w-full navbar bg-base-300">
      <div class="flex-none md:hidden">
        <label for="mobile-nav" class="btn btn-square btn-ghost" id="menu-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-6 h-6 stroke-current"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path></svg
          >
        </label>
      </div>
      <div class="flex-1 px-2 mx-2">
        <a href="./"
          ><img src="./logo.svg" alt="RL Packaging Logo" width="100" /></a
        >
      </div>

      <div class="flex-none hidden md:block">
        <ul class="menu menu-horizontal">
          <li><a class="home-scroll">Home</a></li>
          <li><a class="about-scroll">About</a></li>
          <li><a class="history-scroll">History</a></li>
          <li><a class="contact-scroll">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="drawer-side">
    <label for="mobile-nav" class="drawer-overlay"></label>
    <ul
      class="menu p-4 w-72 h-full bg-base-100 gap-5 text-lg pt-20"
      id="mobile-items"
    >
      <li><a class="home-scroll">Home</a></li>
      <li><a class="about-scroll">About</a></li>
      <li><a class="history-scroll">History</a></li>
      <li><a class="contact-scroll">Contact</a></li>
      <li class="opacity-0 flex-1"></li>
      <li
        class="menu-title flex flex-row gap-10 border-t-2 pt-3 justify-between"
      >
        <a
          href="mailto:orders@rlpackaging.ca"
          target="_blank"
          class="hover:opacity-80"><img src="./envelope.svg" alt="Email" /></a
        >
        <a href="tel:6047586040" target="_blank" class="hover:opacity-80"
          ><img src="./telephone-fill.svg" alt="Phone" /></a
        >
        <a
          href="https://maps.app.goo.gl/qTK8hopH4X9CrohH6"
          target="_blank"
          class="hover:opacity-80"
          ><img src="./geo-alt-fill.svg" alt="Location" /></a
        >
      </li>
    </ul>
  </div>
</div>
<script>
  document.querySelectorAll(".home-scroll").forEach((link) => {
    link.addEventListener("click", () => {
      window.scrollTo(0, 0);
    });
  });
  document.querySelectorAll(".about-scroll").forEach((link) => {
    link.addEventListener("click", () => {
      document.querySelector("#about")?.scrollIntoView({ block: "center" });
    });
  });
  document.querySelectorAll(".history-scroll").forEach((link) => {
    link.addEventListener("click", () => {
      document.querySelector("#history")?.scrollIntoView({ block: "center" });
    });
  });
  document.querySelectorAll(".contact-scroll").forEach((link) => {
    link.addEventListener("click", () => {
      document.querySelector("#contact")?.scrollIntoView({ block: "center" });
    });
  });
</script>
