---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="google-site-verification" content="boWoBHxWUeary5MjXJTzk17h0vksS1aNi3nghb1mOHI" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style is:global>
      html {
        scroll-behavior: smooth;
      }
      .scrollbar-hide {
        scrollbar-width: none;
        -ms-overflow-style: none;
        overflow-y: hidden;
        overflow-x: hidden;
      }
    </style>
  </body>
</html>
